body {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lgn-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: #fff;
    border-radius: 5px;
    padding: 40px 35px 10px 35px;
    margin-top: 30px;
}

.form-container {
    background-color: white;
    padding: 0 35px 0 35px;
    margin: 35px;
}
.logo {
    margin: auto;
  }
  
.logo img {
    color: #679B62;
    height: 150px;
    width: 150px;
    margin: 3px 6px 10px 6px;
    border: 1px solid white;
    border-radius: 25px;
  }
  
.my-form{
    margin-top: 20px;
  }
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}

#btn{
    display: flex;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid #679B62;
    border-radius: 25px;
    background: #679B62;
    color: #f0fdfa;
    cursor: pointer;
    text-transform: capitalize;
}


#btn:hover {
    background: #90b721;
    color: #fff;
    border: 0.1rem solid #90b721;
    border-radius: 25px;
}

#chart {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#chart td,
#chart th {
    border: 1px solid #ddd;
    padding: 8px;
}

#chart tr:nth-child(even) {
    background-color: #f2f2f2;
}

#chart tr:hover {
    background-color: #ddd;
}

#chart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: #679B62;
}

#diet_plan td,
#diet_plan th{
    border: 1px solid #ddd;
    padding: 8px;
}

#diet_plan tr:nth-child(even) {
    background-color: #f2f2f2;
}

#diet_plan tr:hover {
    background-color: #ddd;
}

#diet_plan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: #679B62;
}

form .buttons{
     text-align: center;
    justify-content: center;
}

  