
{% extends "layout.html" %}
{% block body %}

    <!-- home section starts  -->

    <section id="home">
        <img src="{{ url_for('static', filename='img/bg.jpg')}}" alt="background">
        <h1 class="heading">Get your customised dietplan at home</h1>

        <p>. To solve nutrition and diet-based issues, </p>
        <p> NutriDiet generates a customized diet plan.</p>
        <p>Do you want to get one?</p>
        
        <button class="btn"> <a href="{{url_for('home')}}"> Generate Dietplan now </a></button>
    </section>

    <!-- home section ends -->

    <!-- services section starts  -->

    <section id="services">

        <h1 class="heading">Services</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/1.jpg')}}" alt="">
                    <h3>According to BMI</h3>
                </div>
                <div class="content">
                    <p>Are you fit, underweight or over-weight? Get a customized diet plan according to your Body to Mass Index.</p>
                    <a href="{{url_for('home')}}" class="btn">Get Diet Plan</a>
                </div>
            </div>
            
            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/3.jpg')}}" alt="">
                    <h3>Pregnancy</h3>
                </div>
                <div class="content">
                    <p>Are you pregnant and want you and your baby healthy? Get a customized diet plan for healthy baby and mummy.</p>
                    <a href="{{url_for('ques')}}" class="btn">Get Diet Plan</a>
                </div>
            
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/5.jpg')}}" alt="">
                    <h3>Heart Diseases</h3>
                </div>
                <div class="content">
                    <p>Are you suffering from heart diseases? Get a customized diet plan for healthy heart and healthy life.</p>
                    <a href="{{url_for('ques')}}" class="btn">Get Diet Plan</a>
                </div>
            
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/7.jpg')}}" alt="">
                    <h3>Arthritis</h3>
                </div>
                <div class="content">
                    <p>Are you worried about your bones and suffering from arthiritis? Get a customized diet plan for healthy bones.</p>
                    <a href="{{url_for('ques')}}" class="btn">Get Diet Plan</a>
                </div>
            
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/8.jpg')}}" alt="">
                    <h3>Diabities</h3>
                </div>
                <div class="content">
                    <p>Are you one of those having diabetes? Don't worry and get a customized diet plan for healthy body.</p>
                    <a href="{{url_for('ques')}}" class="btn">Get Diet Plan</a>
                </div>
            
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ url_for('static', filename='img/6.jpg')}}" alt="">
                    <h3>Water Remainder</h3>
                </div>
                <div class="content">
                    <p>Are you feeling dehydrated? Set water intake level reminder according to your body need to feel fresh and hydrated.</p>
                    <a href="#" class="btn">Set Remainder</a>
                </div>
            </div>
            
        </div>
    </section>
    {% endblock %}

    <!-- services section ends  -->



