
{% extends "layout.html" %}
{% block body %}

<!-- header section ends -->

<section class="heading-link">
   <h3>About us</h3>
   <!-- <p> <a href="index">home</a> / about </p> -->
</section>

<!-- about section starts  -->

<section class="about">

   <div class="image">
      <img src="{{ url_for('static', filename='img/about-img.jpg')}}" alt="">
   </div>

   <div class="content">
      <h3 class="about-title">We have best plans for you</h3>
      <p> Nutrition is important for living a healthy life. Most people neglect their diet due to which they face many day-to-day health problems. To solve nutrition and diet-based issues, we will suggest a customized diet plan and water intake levels with reminders according to BMI for a normal routine diet. Moreover, It will use several defined rules based on age groups, gender, height range, and weight range and calculate the number of calories required according to the rules. </p>
      <!-- <p>Moreover, it will also deal with periods of pregnancy (first trimester, second trimester, and third trimester). It will also generate customized diet plans for diabetic, 
         arthritic, and heart patients.</p> -->
   </div>
   </div>

</section>

<!-- about section ends -->

<!-- nutritionist section starts  -->

<section id="nutritionists">

   <h1 class="heading">Team</h1>

   <div class="box-container">

      <div class="box">
         <div class="image">
            <img src="{{ url_for('static', filename='img/pic-4.png')}}" alt="">
         </div>
         <div class="content">
            <h3>Dr. Zonaira Masood</h3>
            <span>Nutritionist</span>
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="{{ url_for('static', filename='img/pic-6.png')}}" alt="">
         </div>
         <div class="content">
            <h3>Esha Tahir</h3>
            <span>Front-end Developer</span>
         </div>
      </div>
      <div class="box">
         <div class="image">
            <img src="{{ url_for('static', filename='img/pic-2.png')}}" alt="">
         </div>
         <div class="content">
            <h3>Fatima Masood</h3>
            <span>Back-end Developer</span>
         </div>
      </div>

   </div>

</section>

<!-- nutritionists section ends -->

<!--  reviews section starts  -->

<section class="reviews">

   <h1 class="heading"> Our Customer Review </h1>

   <div class="swiper reviews-slider">

      <div class="swiper-wrapper">

         <div class="swiper-slide slide">
            <p>The NutriDiet plan offers a well-balanced approach to nutrition, incorporating a variety of fruits, 
               vegetables, lean proteins, and whole grains to support overall health and weight management.
            </p>
            <h3>Usama Malik</h3>
         </div>

         <div class="swiper-slide slide">
            <p>With its emphasis on portion control and regular exercise, 
               the NutriDiet plan provides a sustainable and effective way to achieve weight loss goals while promoting long-term lifestyle changes
            </p>
            <h3>Amina Khan</h3>
         </div>

         <div class="swiper-slide slide">
            <p>The NutriDiet diet plan focuses on low-carbohydrate, high-protein meals, 
               which can help boost metabolism and support muscle growth, making it a popular choice for individuals looking to build lean body mass.
            </p>
            <h3>Rafia Tehseen</h3>
         </div>

         <div class="swiper-slide slide">
            <p>The GHI diet plan emphasizes plant-based eating, with a wide range of nutrient-dense foods like legumes, nuts, 
               and leafy greens, providing a natural and wholesome approach to improve overall health and well-being.
            </p>
            <h3>Umair Bhatti</h3>
         </div>

         <div class="swiper-slide slide">
            <p>The NutriDiet plan is a comprehensive and personalized approach to healthy eating. 
               With its tailored meal plans and expert guidance, it helps individuals meet their specific dietary needs and achieve their wellness goals effectively.
            </p>
            <h3>Zainab Khan</h3>
         </div>

         <div class="swiper-slide slide">
            <p>If you're looking for a diet plan that not only focuses on weight loss but also promotes overall well-being, look no further than NutriDiet.
                Its holistic approach combines nutritious meals, mindful eating practices, and lifestyle recommendations for sustainable results and improved health.
            </p>
            <h3>Kamran Malik</h3>
         </div>

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

   </div>

</section>

<!--  reviews section ends -->

{% endblock %}
