{% extends "layout.html" %}
{% block body %}



    <!-- header section ends -->

    <section class="heading-link">
        <h3>Contact us</h3>
        <p> <a href="home">home</a> / contact </p>
    </section>

    <!-- contact section starts  -->

    <section class="contact">

        <h1 class="heading"> Get in touch </h1>

        <div class="icons-container">

            <div class="icons">
                <i class="fas fa-clock"></i>
                <h3>Opening hours :</h3>
                <p>24/7</p>
            </div>

            <div class="icons">
                <i class="fab fa-whatsapp"></i>
                <h3> Whatsapp :</h3>
                <p>+92-308-6787451</p>
            </div>

            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3> E-mail : </h3>
                <p>nutridiet112010@gmail.com</p>
            </div>

            <div class="icons">
                <i class="fas fa-map"></i>
                <h3>Address :</h3>
                <p>Punjab - Pakistan </p>
            </div>

        </div>

        <div class="row">

            <div class="image">
                <img src="{{ url_for('static', filename='img/contact-img.jpg')}}">
            </div>

            <form action="/contact" method="post">
                <h3>send us a message</h3>
                <input type="text" placeholder="name" name="name" class="box">
                <input type="email" placeholder="email" name="email" class="box">
                <input type="number" placeholder="phone" name="phone_num" class="box">
                <input type="message" placeholder="message" name="msg" class="box">
                <input type="submit" value="send message" class="btn">
            </form>

        </div>

    </section>

    <!-- contact section ends -->

    <!-- faq section starts  -->

    <section class="faq">
      <h1 class="heading">Frequently Asked Questions</h1>

      <div class="accordion-container">
        <div class="accordion active">
          <div class="accordion-heading">
            <h3>How to contact for help?</h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
            For contact we have given our whatsapp number you can contact us through whatsapp or you can also email us at given email in contact page.
          </p>
        </div>

        <div class="accordion">
          <div class="accordion-heading">
            <h3>Is the diet plan generated according to nutritionist recommendations?</h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
            We have done detailed meeting and discussion with different nutritionists. We had approved all the plans generated fron specialized nutritionists.
          </p>
        </div>

        <div class="accordion">
          <div class="accordion-heading">
            <h3>How much fees for per dietplan?
            </h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
            For now it is free of cost.
          </p>
        </div>

        <div class="accordion">
          <div class="accordion-heading">
            <h3>Can i get dietplan for heart patients?</h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
            You can get diet plan for Heart patients, Diabetic patients and Arthritic patients. You can also get diet plan for pregnant ladies. Other than this you can also get diet plan if you want lessen, increase or maintain your weight.
          </p>
        </div>

        <div class="accordion">
          <div class="accordion-heading">
            <h3>Can i change my information submitted?</h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
           For now its not available but you can resubmit your information.
          </p>
        </div>

        <div class="accordion">
          <div class="accordion-heading">
            <h3>Which type of dietplan is generated for pregnant ladies?</h3>
            <i class="fas fa-angle-down"></i>
          </div>
          <p class="accordion-content">
            Diet is generated for 3 trimesters of pregnancy.
          </p>
        </div>
      </div>
    </section>

{% endblock %}